/*
blue: #69D2E7;
lightBlue: #A7DBD8;
beach: #E0E4CC;
lightOrange: #F38630;
orange: #FA6900;
*/

@keyframes pulse {
    0% { transform: scale(1.1); }
    50% { transform: scale(0.9); }
    100% { transform: scale(1.1); }
}

html {
    background: url("images/map.png") no-repeat left top;
    background-size: cover;
    font-family: Ubuntu;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    overflow: hidden; //fixes problem with pulse anim
}

::selection {
    background: red;
}

::-moz-selection {
    background: none;
}

h1 {
    margin: 0;
    padding: 2px 10px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px -2px;
    font-family: Ubuntu;
    font-weight: normal;
}

.point {
    position: absolute;
    transition: transform 0.3s;
}

.point:hover {
    z-index: 10;
}

.marker {
    box-shadow: 0 0 14px 1px;
    animation: pulse 1s infinite linear;
    display: block;
}


.point> div {
    position: absolute;
    top: 0;
    width: 200px;
    opacity: 0;
    padding: 0;
    transition: 1s 0.8s;
    white-space: nowrap;
}

.point:hover > div {
    transform: translate(80px);
    transition: 1s 0.3s;
    opacity: 1;
}

.point > div li {
    border: 1px solid #69D2E7;
    transition: transform 1s;
    background: #e0e4cc;
    white-space: normal;
    position: relative;
}

.point.left:hover > div {
    transform: translate(-200px);
}

.point > div li + .drop {
    position: absolute;
    opacity: 0;
    transition: left 0.7s 0.8s, right 0.7s 0.8s, opacity 0.7s 0.8s, height 0.7s, width 0s 2s;
    z-index: -1;
    width: 0px;
    padding: 10px 5px;
    background: #e0e4cc;
    height: 0;
    overflow: hidden;
    white-space: normal;
    top: 0;
    left: 0;
}

.point.left > div li + .drop {
    left: auto !important;
    right: 0;
}

.point.left > div li + .drop.active {
    right: 200px;
}

.point.up > div li + .drop {
    top: auto !important;
    bottom: 0;
}

.point > div li + .drop.active {
    width: 300px;
    transition: left 0.7s, right 0.7s, opacity 0.7s, height 0.7s 0.8s;
    opacity: 1;
    height: 200px;
    left: 200px;
}


.point ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.minor {
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
}

div.major {
    margin-left: -35px;
    margin-top: -35px;
}

.major{
    width: 70px;
    height: 70px;
}

.circle {
    border-radius: 50%;
}

.square {
    border-radius: 10%;
}